 <form [formGroup]="form">
    <div class="form-group">
        <label for="username">Username :</label>
        <input  formControlName="username" class="form-control" type="text" id="username" >
    </div> 
    <div class="alert alert-danger"  *ngIf="username.touched && username.invalid">
        <div *ngIf="username.errors.required">ce champs est obligatoire </div>
        <div *ngIf="username.errors.minlength"> ce champs doit compter au moin{{username.errors.minlength.actualLength}}/ {{username.errors.minlength.requiredLength}}</div>
        <div *ngIf="username.errors.pattern"> erreur de l alphabet</div>    
    </div>
    <div class="form-group">
        <label for="password">password :</label>
        <input formControlName="password" class="form-control" type="password" id="password">
    </div>
    <div class="alert alert-danger"  *ngIf="password.touched && password.invalid">ce champs est obligatoire !!</div>
    <div class="form-group">
        <button class="btn btn-primary" [disabled]="!password.valid && !username.valid "> Register</button>
    </div>
</form>
